---
import type { AllExtractedDeclaration } from "@jsdocs-io/extractor";
import { shortId } from "../../lib/short-id";
import { shortKind } from "../../lib/short-kind";
import type { UnpkgUrlFn } from "../../lib/unpkg-url";
import DeclarationSignature from "./DeclarationSignature.astro";
import DocComment from "./DocComment.astro";

type Props = {
	declaration: AllExtractedDeclaration;
	unpkgUrl: UnpkgUrlFn;
};

const props = Astro.props;
const { declaration, unpkgUrl } = props;
const id = shortId(declaration.id);
const anonymousDeclarations = [
	"constructor",
	"call-signature",
	"construct-signature",
	"index-signature",
];
const [kind, name] =
	anonymousDeclarations.includes(declaration.name) ?
		["", declaration.name.replace("-", " ")]
	:	[shortKind(declaration.kind), declaration.name];
---

<h3 {id}>
	{kind}
	<a class="font-semibold text-primary no-underline hover:underline" href={unpkgUrl(declaration)}
		>{name}</a
	>
</h3>

<DeclarationSignature {declaration} />

{
	declaration.docs.map((doc, i) => (
		<>
			{i > 0 && <hr />}
			<DocComment {doc} />
		</>
	))
}
