---
import type { AllExtractedDeclaration } from "@jsdocs-io/extractor";
import { shortId } from "../../lib/short-id";
import { shortKind } from "../../lib/short-kind";
import type { UnpkgUrlFn } from "../../lib/unpkg-url";

type Props = {
	declaration: AllExtractedDeclaration;
	unpkgUrl: UnpkgUrlFn;
};

const { declaration, unpkgUrl } = Astro.props;
const id = shortId(declaration.id);
const anonymousDeclarations = [
	"constructor",
	"call-signature",
	"construct-signature",
	"index-signature",
];
const [kind, name] =
	anonymousDeclarations.includes(declaration.name) ?
		["", declaration.name.replace("-", " ")]
	:	[shortKind(declaration.kind), declaration.name];
const url = unpkgUrl(declaration);
---

<h3 {id} data-declaration={declaration.id} data-kind={kind}>
	{kind}
	<a class="link-hover link font-semibold text-primary" href={url}>{name}</a>
</h3>
