---
import VercelBanner from "./VercelBanner.astro";

declare global {
	// See `astro.config.mjs` for definition.
	const __GIT_COMMIT: string;
}

const commit = __GIT_COMMIT;
const commitShort = commit.slice(0, 7);
const ghUrl = `https://github.com/jsdocs-io/web`;
const ghCommitUrl = `${ghUrl}/commit/${commit}`;
---

<footer class="border-t">
	<div class="flex flex-col lg:flex-row lg:items-center justify-between gap-4 p-4">
		<VercelBanner />

		<nav class="text-muted-foreground text-xs flex flex-col gap-2 md:flex-row md:items-center">
			<a href={ghCommitUrl} class="underline-offset-4 hover:underline">{commitShort}</a>
			<a href={ghUrl} class="underline-offset-4 hover:underline">GitHub</a>
			<a href="/third-party-licenses.txt" class="underline-offset-4 hover:underline">OSS licenses</a
			>
			<a href="/privacy" class="underline-offset-4 hover:underline">Privacy policy</a>
			<a href="/donate" class="underline-offset-4 hover:underline">Donate</a>
			<a href="/developers" class="underline-offset-4 hover:underline">Developers</a>
			<a href="/about" class="underline-offset-4 hover:underline">About</a>

			<div class="w-px h-4 bg-border hidden md:block"></div>
			<div>
				Made by
				<a href="https://github.com/velut" class="font-bold underline underline-offset-4"
					>Edoardo Scibona</a
				>
			</div>
		</nav>
	</div>
</footer>
