---
import JsDocsIoBadge from "./JsDocsIoBadge.astro";

type Props = {
	name: string;
};

const { name } = Astro.props;
const badgeUrl = "https://img.shields.io/badge/jsDocs.io-reference-blue";
const pkgUrl = `https://www.jsdocs.io/package/${name}`;
const altText = "jsDocs.io";
const markdownBadge = `[![${altText}](${badgeUrl})](${pkgUrl})`;
const htmlBadge = `<a href="${pkgUrl}"><img src="${badgeUrl}" alt="${altText}"></a>`;
---

<h2 id="package-badge">Badge</h2>

<JsDocsIoBadge />

<p>
	To add a badge like the one displayed above to your package's README, you can copy the snippets
	available below. You can also create a custom badge on <a href="https://shields.io/">Shields.io</a
	> by linking to <code>{pkgUrl}</code>.
</p>

<div class="flex flex-wrap items-center gap-2">
	<button
		x-data={`{ badge: '${markdownBadge}' }`}
		class="btn btn-outline btn-sm"
		@click="navigator.clipboard.writeText(badge)">Copy Markdown badge</button
	>
	<button
		x-data={`{ badge: '${htmlBadge}' }`}
		class="btn btn-outline btn-sm"
		@click="navigator.clipboard.writeText(badge)"
		class="btn btn-outline btn-sm">Copy HTML badge</button
	>
</div>
