---
import newGitHubIssueURL from "new-github-issue-url";
import type { PackagePageHandlerProps } from "../../lib/package-page-handler";

type Props = PackagePageHandlerProps;

const { status, pkgId, subpath, generatedAt, generatedIn } = Astro.props;
const issueUrl = newGitHubIssueURL({
	repoUrl: "https://github.com/jsdocs-io/web",
	template: "package-with-missing-or-incorrect-documentation.md",
	title: `Package ${pkgId} has missing or incorrect documentation`,
});
---

<h2 id="package-about">About</h2>

<p>
	Page generated <time
		x-data={`{ generatedAt: '${generatedAt}' }`}
		x-text="formatDistanceStrict(new Date(generatedAt), new Date(), { addSuffix: true })"
		title={generatedAt}
		datetime={generatedAt}></time> in {generatedIn}ms.

	{
		status === "with-api" && (
			<>
				<br />
				Package <code>{pkgId}</code> analyzed{" "}
				<time
					x-data={`{ analyzedAt: '${Astro.props.pkgApi.analyzedAt}' }`}
					x-text="formatDistanceStrict(new Date(analyzedAt), new Date(), { addSuffix: true })"
					title={Astro.props.pkgApi.analyzedAt}
					datetime={Astro.props.pkgApi.analyzedAt}
				/>{" "}
				in {Astro.props.pkgApi.analyzedIn}ms.
			</>
		)
	}

	<br />
	Missing or incorrect documentation? <a href={issueUrl}>Open an issue for this package.</a>
</p>

<script>
	import { formatDistanceStrict } from "date-fns";
	window.formatDistanceStrict = formatDistanceStrict;
</script>
