---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import NpmPackageSearch from "../components/NpmPackageSearch.svelte";
import "../styles/global.css";
import "../styles/shiki.css";

interface Props {
	title: string;
	description: string;
}

const title = Astro.url.pathname === "/" ? "jsDocs.io" : `${Astro.props.title} - jsDocs.io`;
const { description } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const ogImageUrl = new URL("og.jpg", Astro.site); // TODO: add image
const ogImageAlt = "Social image for jsDocs.io";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{/* Favicon */}
		{/* TODO: other sizes */}
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		{/* Title and description */}
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		{/* Canonical URL */}
		<link rel="canonical" href={canonicalUrl} />

		{/* OpenGraph */}
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalUrl} />
		<meta property="og:image" content={ogImageUrl} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="628" />
		<meta property="og:image:alt" content={ogImageAlt} />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="jsdocs.io" />

		{/* Twitter */}
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={ogImageUrl} />
		<meta name="twitter:image:alt" content={ogImageAlt} />
		<meta name="twitter:creator" content="@jsDocs" />
	</head>

	<body>
		<a href="#main-content" class="sr-only">Skip to main content</a>

		<div class="grid min-h-svh auto-cols-fr grid-rows-[auto_1fr_auto] gap-8">
			<Header />
			<div class="justify-self-center px-4 md:px-6">
				<slot />
			</div>
			<Footer />
		</div>

		<slot name="modals" />
		<NpmPackageSearch client:load />

		<script src="../scripts/add-copy-buttons.ts"></script>
	</body>
</html>
